%p
  I developed this game as part of a tutorial to teach the 
  %a{ :href=>"http://www.ruby-lang.org/en/"} ruby 
  programming language. 

%p
  It is built using the 
  %a{ :href=>"http://www.sinatrarb.com/"} sinatra
  web framework, the 
  %a{ :href=>"http://haml-lang.com/" } haml
  templating language, and uses 
  %a{ :href=>"http://redis.io/" } redis
  to persistent the game data.
  The 
  %a{ :href=>"https://github.com/a-pasquale/Card-Games" } source code
  for this game is managed using 
  %a{ :href=>"http://git-scm.com/" } git
  and deployed with 
  %a{ :href=>"http://heroku.com/" } heroku
  and 
  %a{ :href=>"http://redistogo.com/" } redis to go.

%p 
  Please 
  %a{ :href=>"/contact" } contact 
  me if you have any questions or comments.
