!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Blackjack 
    %link{ :rel => "stylesheet", :href => "/styles.css", :type => "text/css"}
  %body
    #wrap
      #header
        #innerheader
          #title
            %h1 
              %a{ :href=>"/blackjack" } Blackjack
            %h2 
              %a{ :href=>"/blackjack" } Play The Game
            %a{ :href=>'https://github.com/a-pasquale/Card-Games' }  
              %img{ :alt=>"Fork me on GitHub",
                    :src=>"http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",
                    :style=>"position: absolute; top: 0; right: 0; border: 0;" }
      #content
        #page
          #innerpage    
            = yield

        #sidebar
          %ul
            %li 
              %a{ :href => '/about' } ABOUT
            %li
              %a{ :href => '/contact' } CONTACT
            %li  
              %a{ :href => '/blackjack' } PLAY
            %li
              %a{ :href => 'https://github.com/a-pasquale/Card-Games' } SOURCE CODE
        .clear
      #footer
        %p
          &copy; 2011 Andrew Pasquale 
          | 
          template design: 
          %a{ :href=>"http://www.spyka.net" } spyka


